
.ArmorMainContainer {
  // border: 1px solid pink;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
  background-color: black;
}
.ArmorHeading {
  padding: 40px 10px;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  h1 {
    font-size: 36px;
    color: #c9b76b;
    font-weight: 700;
  }
}
.ArmorContainer {
  // max-height: 500px;
  position: relative;
  // border: 1px solid white;
  z-index: 30;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.Armr_1 {
  position: relative;
  width: 100px;
  // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: linear-gradient(0deg, #000000 0%, #8a5a2f 50%, #000000 100%);
  // border-radius: 8px;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .Armr_1_imgContainer {
    img {
      max-width: 220px;
      max-height: 381px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.786));
      transition-duration: 0.3s;
      &:hover {
        filter: drop-shadow(0px 0px 10px #8a5a2f);
      }
    }
  }

  button {
    padding: 5px 10px;
    border: 1px solid white;
  }
}

.Armr_2 {
  position: relative;
  width: 100px;
  background: linear-gradient(0deg, #000000 0%, #5a5a60 50%, #000000 100%);
  transition-duration: 0.4s;
  // border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .Armr_2_imgContainer {
    img {
      max-width: 220px;
      max-height: 381px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
      transition-duration: 0.3s;
      &:hover {
        filter: drop-shadow(0px 0px 10px #5a5a60);
      }
    }
  }
}

.Armr_3 {
  position: relative;
  width: 100px;
  background: linear-gradient(0deg, #000000 0%, #665949 50%, #000000 100%);
  // border-radius: 8px;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  .Armr_3_imgContainer {
    img {
      max-width: 220px;
      max-height: 381px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
      transition-duration: 0.3s;
      &:hover {
        filter: drop-shadow(0px 0px 10px #665949);
      }
    }
  }
}

.Armr_4 {
  position: relative;
  width: 100px;
  background: linear-gradient(0deg, #000000 0%, #c3a449 50%, #000000 100%);
  transition-duration: 0.4s;
  // border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .Armr_4_imgContainer {
    img {
      max-width: 220px;
      max-height: 381px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
      transition-duration: 0.3s;
      &:hover {
        filter: drop-shadow(0px 0px 10px #c3a449);
      }
    }
  }
}

.Armr_5 {
  position: relative;
  width: 100px;
  background: linear-gradient(0deg, #000000 0%, #554636 50%, #000000 100%);
  transition-duration: 0.4s;
  // border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .Armr_5_imgContainer {
    img {
      max-width: 220px;
      max-height: 381px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
      transition-duration: 0.3s;
      &:hover {
        filter: drop-shadow(0px 0px 10px #554636);
      }
    }
  }
}

.Armr_6 {
  position: relative;
  width: 100px;
  background: linear-gradient(0deg, #000000 0%, #4a4333 50%, #000000 100%);
  transition-duration: 0.4s;
  // border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .Armr_6_imgContainer {
    img {
      max-width: 220px;
      max-height: 381px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
      transition-duration: 0.3s;
      &:hover {
        filter: drop-shadow(0px 0px 10px #4a4333);
      }
    }
  }
}

.Armr_7 {
  position: relative;
  width: 100px;
  background: linear-gradient(0deg, #000000 0%, #c7d7f2 50%, #000000 100%);
  transition-duration: 0.4s;
  // border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .Armr_7_imgContainer {
    img {
      max-width: 220px;
      max-height: 381px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
      transition-duration: 0.3s;
      &:hover {
        filter: drop-shadow(0px 0px 10px #c7d7f2);
      }
    }
  }
}

.Armr_8 {
  position: relative;
  width: 100px;
  background-color: rgb(101, 19, 142);
  border: 1px solid red;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  .Armr_8_imgContainer {
    img {
      max-width: 220px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
    }
  }
}

.ArmrData {
  padding: 15px 8px;
  position: absolute;
  bottom: -100%;
  border-radius: 10px 10px 0px 0px;
  backdrop-filter: blur(1px);
  // background-color: rgba(0, 0, 0, 0.342);
  // background: linear-gradient(
  //   to bottom,
  //   #00000000,
  //   #171717c9,
  //   rgba(0, 0, 0, 0.904)
  // );
  height: 100%;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.5s ease-out;
  h2 {
    color: #c9b76b;
    font-size: 36px;
  }
  p {
    color: white;
    font-size: 12px;
  }
}

.armr_expended {
  .Armr_1_imgContainer {
    img {
    }
  }
}

.armr_expended {
  flex: 1;
  transition-duration: .3s;
  z-index: -1;
  // border-radius: 0px !important;
  // align-items: center;

  .Armr_1_imgContainer {
    img {
    }
  }
  button {
  }
}
.ViewArmorBtnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border: 1px solid white;
}
.ViewArmorBtn{
  color: white;
  // text-decoration: none;A
  padding: 10px 40px;
  border: 1px solid red;
}

@media (max-width: 1200px) {
  .Armr_7 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .Armr_6 {
    display: none;
  }
}

@media (max-width: 800px) {
  .Armr_5 {
    display: none;
  }
}
