.relm-stats {
    background: linear-gradient(to bottom, rgb(2,3,12), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) ,rgba(0, 0, 0, 0), rgb(2,3,12));
 
   
}

.relm-stats-container {
    width: 80%;
    margin: 0 auto;
}

.relm-stats-card {

    display: grid;
    grid-template-columns: repeat(4, 4fr);

    
}